.juego
{
    width: 1050px;
    height:600px;
    border: 1px solid black;
    position: relative;
    background-image: url(img/fondo.png);
}
#personaje 
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#covao 
{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 520px;
    left: 900px;
}
.obstaculo 
{
    width: 50px;
    height: 50px;
    position: absolute;
}